################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.filters
*.vcxproj
*.sqlite
/.vs/ProjectSettings.json
*.suo
*.h
