################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.filters
*.vcxproj
*.sqlite
/.vs/ProjectSettings.json
*.suo
*.h
/RCa14588
/ValveControler.rc
/CppProperties.json
/.vs/VSWorkspaceState.json
